<div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
    <div class="full-background" style="background-image: url('<%-themeConfig.iconURL%>')"></div>
    <div class="card-body text-start p-3 w-100">
        <div class="docs-info">
            <h6 class="text-white up mb-0">Want more from <%-themeConfig.websiteName%>?</h6>
            <p class="text-xs font-weight-bold">Check out premium features below!</p>
            
            <a class="btn bg-gradient-primary mt-4 w-100" href="https://sharkybot.xyz" type="button">BECOME PREMIUM</a>
        </div>
    </div>
</div>